<!DOCTYPE>
<html>

{{> header }}

<body>
	{{> banner }}
	<section class="section container">
		<p>Your item has been payed!</p>
		<p>Here is a recap of the transaction:</p>
		<p>ErrorCode: <b>{{ErrorCode}}</b></p>
		<p>ErrorDescription: <b>{{ErrorDescription}}</b></p>
		<p>Amount: <b>{{Amount}}</b></p>
		<p>Authorization Code: <b>{{AuthorizationCode}}</b></p>
		<p>Bank Transaction Id: <b>{{BankTransactionID}}</b></p>
		<p>Currency: <b>{{Currency}}</b></p>
		<p>ShopTransactionId: <b>{{ShopTransactionID}}</b></p>
		<p>Transaction Result: <b>{{TransactionResult}}</b></p>
		<p>Transaction Type: <b>{{TransactionType}}</b></p>
		<p>More data is available, check the logs.</p>
		<a href="/" class="button is-primary">Home</a>
	</section>
</body>

</html>